h1{
  font-size: 70px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  text-align: center;
}
.top{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}
h3{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h4{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
